* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  background-color: #efefef;
}
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  font-weight: 100;
}

h1.inside {
  padding: 0;
}

h1 {
  padding-top: 270px;
  padding-bottom: 300px;
  font-size: 3em;
  color: #fff;
}

h2 {
  font-size: 2em;
  color: #e4572e;
}

h3 {
  font-size: 1.5em;
}

nav,
footer {
  padding: 1% 0;
  background-color: #000;
}

nav {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: left;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}

nav span {
  color: #e4572e;
}

@keyframes unBlur {
  from {
    filter: blur(6px);
  }
  to {
    filter: blur(0px);
  }
}

header {
  background: url(images/background/img_home_1920x1080.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  background-color: #000;
  /*filter: blur(2px);*/
  animation: unBlur 6s 0s 1;
}

main {
  padding: 0;
  background: #000;
}

main h1 {
  padding-left: 6%;
  padding-right: 6%;
}

@keyframes blackblur {
  to {
    filter: blur(0px);
  }
  from {
    filter: blur(8px);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header h1 {
  animation: blackblur 4s 0s 1;
}

.top {
  padding-left: 6%;
  padding-right: 6%;
}

a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
}

a:hover {
  opacity: 0.7;
}

.bio h2 {
  padding-bottom: 30px;
}

.design {
  padding-top: 60px;
}

.bio p {
  color: #ffffff;
  opacity: 0.8;
}
.bio {
  display: flex;
  flex-direction: row;
}

section.bio {
  padding-right: 0;
  padding-bottom: 0;
}

.content {
  background: #000;
  width: 70%;
  min-height: 700px;
  padding-right: 30px;
}

.bio p {
  width: 50%;
}

.bgimage {
  background: url(images/background/img_bio_1920x1080.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  background-color: #000;
  width: 100%;
}

h1.inside {
  text-align: left;
}

h3 {
  color: #898989;
}

p {
  text-align: left;
}

.menu {
  float: right;
}

section {
  padding: 60px 6% 60px 6%;
}

button {
  width: 140px;
  height: 40px;
  margin-right: 10px;
  font-size: 18px;
  border-radius: 4px;
  border: 0;
  background: #cdcdcd;
  color: #252525;
  cursor: pointer;
}
.projects {
  width: 100%;
  background: #efefef;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
}

.desc {
  text-align: left;
  margin-left: 40px;
  width: 43%;
}
.desc h2 {
  margin-top: 0;
  text-align: left;
}

.project-img {
  width: 50%;
}
.project-img img {
  box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  transition: transform 0.2s;
  border-radius: 12px;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.project-img img:hover {
  box-shadow: 0px 0px 30px 14px rgba(0, 0, 0, 0.1);
  transform: scale(1.04);
}

.project-container button {
  display: inline;
}

footer {
  width: 100%;
  bottom: 0%;
  text-align: center;
  padding: 30px;
  font-size: 0.75em;
  color: #fff;
  background-color: #252525;
}

footer p {
  opacity: 0.3;
  text-align: center;
}

footer a {
  display: block;
  margin-bottom: 6px;
}

.footer-links {
  margin-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
  .project-container {
    width: 100%;
  }

  header {
    background: url(images/background/img_home_1200x1080.jpg);
  }

  .bio {
    flex-direction: column;
  }
  .content {
    width: 100%;
    min-height: auto;
  }

  .bgimage {
    background: url(images/background/img_bio_1200x1080.jpg);
  }

  .project-img {
    width: 100%;
  }
  .desc {
    text-align: left;
    padding-top: 30px;
    width: 80%;
  }

  .bio p {
    width: 100%;
    padding-left: 60px;
    padding-right: 30px;
  }
  .content {
    padding-bottom: 60px;
  }
}
section.bio {
  padding-left: 0;
  height: auto;
}

.bio p {
  width: 100%;
  padding-left: 60px;
}

@media only screen and (max-width: 600px) {
  button {
    width: 100%;
    margin-bottom: 18px;
  }
  .desc {
    width: 100%;
    margin-left: 0;
  }

  section {
    padding-left: 8%;
    padding-right: 8%;
  }
  .bgimage {
    background: url(images/background/img_bio_800x1080.jpg);
    padding-bottom: 21px;
  }

  .project-container {
    margin-top: 50px;
  }
  header {
    background: url(images/background/img_home_800x1080.jpg);
  }
  footer {
    font-size: 18px;
  }
  footer a {
    padding-bottom: 16px;
  }
}
